img.logo
  display: inline-block
  height: 100px
  margin: 8px 16px
  float: left

nav .tab-hidden
  line-height: 52px




img.logo
  display: inline-block
  height: 100px
  margin: 8px 16px
  float: left

nav .tab-hidden
  line-height: 52px




#menu
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 52px
  background: $menu-color
  box-shadow: $menu-shadow
  z-index: 10
  padding-right: 24px
  box-sizing: border-box

#menu.mobile-menu
  .menu
    display: none
    position: absolute
    top: 52px
    margin: 0
    padding: 0
    width: 100%
    max-height: calc(100vh - 52px)
    overflow: auto
    list-style: none
    box-shadow: $menu-ul-shadow

    a
      line-height: 52px
      padding: 0 32px

    li
      background: $bg-color
      width: 100%

      &::before
        border-top: $menu-sub-li-border
        content: ""
        display: block
        position: absolute
        width: 100vw
        left: 0

    .fa
      display: inline-block
      margin-left: 5px

  .submenu
    list-style: none
    margin: 0
    padding: 0 32px
    display: none

    & > li
      box-sizing: border-box
      width: 100%

  li.open
    & > a .fa
      transform: rotate(180deg)

    & > .submenu
      display: block

  .hamburger-cont
    float: right
    cursor: pointer

    .hamburger-text
      padding: 0 10px
      float: left
      font-weight: 400
      line-height: 52px

    .hamburger
      position: relative
      width: 32px
      height: 24px
      margin: 14px 16px 14px 0
      float: left

      &::before, &::after, & .middle-bar
        position: absolute
        left: 0
        width: 100%
        height: 4px
        transform-origin: center
        transition: top .1s ease-in-out .14s, bottom .1s ease-in-out .14s, margin-top .1s ease-in-out .14s, margin-bottom .1s ease-in-out .14s, transform .1s ease-in-out, opacity .1s ease-in-out
        border-radius: 4px
        background: $text-color
        content: ""

      &::before
        top: 0

      &::after
        bottom: 0

      .middle-bar
        top: 50%
        margin-top: -2px

  #toggle-menu
    visibility: hidden

    &:checked
      & ~ .hamburger-cont .hamburger
        &::before, &::after, & .middle-bar
          transition: top .1s ease-in-out, bottom .1s ease-in-out, margin-top .1s ease-in-out, margin-bottom .1s ease-in-out, transform .1s ease-in-out .14s, opacity .1s ease-in-out .14s

        &::before
          top: 50%
          margin-top: -2px
          transform: rotate(45deg)

        &::after
          bottom: 50%
          margin-bottom: -2px
          transform: rotate(-45deg)

        .middle-bar
          opacity: 0

      & ~ .menu
        display: block



#menu:not(.mobile-menu)
  #toggle-menu, .hamburger-cont
    display: none

  .menu
    display: flex
    justify-content: flex-end
    margin: 0
    padding: 0
    height: 100%

    a
      color: #0b5493
      font-weight: 400
      font-size: 1rem
      display: flex
      align-items: center
      justify-content: space-between

    & > li
      display: inline-flex
      align-items: center
      position: relative
      height: 100%

      & > a
        text-transform: uppercase
        padding: 0 12px

        .fa
          display: none

        span
          transition: border-bottom .2s ease-in-out
          border-bottom: 2px solid transparent
          white-space: nowrap

      & > .submenu
        border-top: 1px solid #ccc

      &:hover, &:focus-within
        span
          border-bottom-color: #0b5493

        & > .submenu
          display: block

  .submenu
    display: none
    margin: 0
    padding: 0
    position: absolute
    top: 52px
    background: #fff
    box-shadow: $menu-ul-shadow
    width: 300px
    transition: max-height .1s ease-in-out, visibility 0s .1s
    border-radius: 0 0 3px 3px

    & > li
      list-style: none
      display: block
      line-height: 2.25em
      position: relative

      a
        padding: 6px 12px
        border: 0
        line-height: 1.5em
        transition: background .15s ease-in-out

        .fa
          transform: rotate(-90deg)

      & > .submenu
        top: 0
        left: 0
        transform: translateX(100%)
        border-radius: 0 3px 3px 3px


      &:hover, &:focus-within
        & > .submenu
          display: block

        & > a
          background: rgba(0,0,0,0.1)

